@use 'variaveis';

.header{
    &__container{
        width: 100%;
        border-bottom: 3px double white;
        align-items: center;

        display: flex;

        img{
            width: 10vh;
        }

        h1{
            font-family: variaveis.$fontSecundaria;
            font-weight: bold;
            padding-top: 10px;
            font-size: 48px;
        }
    }
}